@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Inter:wght@400;500;600;700;800;900&family=Karla:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&family=Mulish:wght@700&family=Philosopher:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Roboto:wght@400;500;700;900&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Sofia+Sans+Extra+Condensed:wght@400;500;600;700&family=Tilt+Prism&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia Sans", sans-serif;
}

a, li, ul, input, button {
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.nav_container {
  max-width: 1300px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.nav_parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
.nav_parent ul {
  display: flex;
  gap: 40px;
}
.nav_parent ul .navbar__link {
  color: #2C3847;
  font-size: 20px;
  font-weight: 400;
  transition: 0.3s linear;
}
.nav_parent ul .navbar__link:hover {
  color: #5FB848;
}
.nav_parent .nav_right {
  display: flex;
  gap: 30px;
  align-items: center;
}
.nav_parent .nav_right i {
  font-size: 25px;
}
.nav_parent .nav_right button {
  color: var(--white, #FFF);
  font-size: 20px;
  font-weight: 400;
  border-radius: 27px;
  background: #494949;
  padding: 14px 29px;
  border: 2px solid #2C3847;
  transition: 0.3s linear;
}
.nav_parent .nav_right button:hover {
  background: none;
  color: #2C3847;
}
.nav_parent .menu {
  display: none;
}
.nav_parent .menu i {
  font-size: 30px;
}

@media screen and (max-width: 990px) {
  .nav_parent ul {
    display: none;
  }
  .nav_parent .nav_right {
    display: none;
  }
  .nav_parent .menu {
    display: block;
  }
}
.hero_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
.hero_header .header_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero_header .header_info h1 {
  color: var(--black, #181D19);
  font-size: 65px;
  font-weight: 600;
  max-width: 590px;
}
.hero_header .header_info span {
  color: #5FB848;
}
.hero_header .header_info p {
  color: var(--black, #181D19);
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  max-width: 500px;
  padding: 30px 0 50px;
}
.hero_header .header_info button {
  color: var(--white, #FFF);
  font-size: 24px;
  font-weight: 400;
  border-radius: 50px;
  background: var(--green-gradient, linear-gradient(180deg, #64BB47 0%, #2C9553 100%));
  padding: 16px 40px;
  border: 2px solid #5FB848;
  transition: 0.3s linear;
}
.hero_header .header_info button:hover {
  background: none;
  color: #5FB848;
}
.hero_header .header_img img {
  width: 650px;
}

@media screen and (max-width: 1150px) {
  .hero_header {
    padding: 50px 0;
  }
  .hero_header .header_info h1 {
    font-size: 55px;
    font-weight: 600;
    max-width: 590px;
  }
  .hero_header .header_info p {
    font-size: 24px;
    max-width: 400px;
    padding: 30px 0 50px;
  }
  .hero_header .header_info button {
    font-size: 24px;
    font-weight: 400;
    padding: 16px 40px;
  }
  .hero_header .header_img img {
    width: 580px;
  }
}
@media screen and (max-width: 990px) {
  .hero_header {
    flex-direction: column-reverse;
    align-items: center;
    padding: 50px 0;
  }
  .hero_header .header_info {
    align-items: center;
  }
  .hero_header .header_info h1 {
    font-size: 55px;
    font-weight: 650;
    max-width: 590px;
    text-align: center;
  }
  .hero_header .header_info p {
    font-size: 24px;
    max-width: 400px;
    padding: 30px 0 50px;
    text-align: center;
  }
  .hero_header .header_info button {
    font-size: 24px;
    font-weight: 400;
    padding: 16px 40px;
  }
  .hero_header .header_img img {
    width: 580px;
  }
}
@media screen and (max-width: 690px) {
  .hero_header {
    padding: 40px 0;
  }
  .hero_header .header_info h1 {
    font-size: 45px;
    max-width: 440px;
    text-align: center;
  }
  .hero_header .header_info p {
    font-size: 20px;
    font-weight: 300;
    max-width: 400px;
    padding: 20px 0 30px;
    text-align: center;
  }
  .hero_header .header_info button {
    font-size: 24px;
    font-weight: 400;
    padding: 12px 36px;
  }
  .hero_header .header_img img {
    width: 400px;
  }
}
@media screen and (max-width: 435px) {
  .hero_header {
    padding: 30px 0;
  }
  .hero_header .header_info h1 {
    font-size: 36px;
    max-width: 330px;
  }
  .hero_header .header_info p {
    font-size: 18px;
    max-width: 330px;
    padding: 20px 0px;
  }
  .hero_header .header_info button {
    font-size: 20px;
    font-weight: 400;
    padding: 8px 36px;
  }
  .hero_header .header_info button:hover {
    background: none;
    color: #5FB848;
  }
  .hero_header .header_img img {
    width: 330px;
  }
}
.info_parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.info_parent .info_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.info_parent .info_top h2 {
  color: #151414;
  text-align: center;
  font-size: 54px;
  font-weight: 770;
}
.info_parent .info_top p {
  color: #3B433E;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
.info_parent .info_middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}
.info_parent .info_middle .info_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info_parent .info_middle h4 {
  color: var(--black, #181D19);
  font-size: 28px;
  font-weight: 600;
  margin: 36px 0 18px;
}
.info_parent .info_middle p {
  color: #545454;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  max-width: 270px;
}
.info_parent .info_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 150px;
}
.info_parent .info_bottom .info_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.info_parent .info_bottom span {
  color: #000;
  font-size: 44px;
  font-weight: 780;
}
.info_parent .info_bottom p {
  color: #545454;
  font-size: 20px;
  font-weight: 400;
}

@media screen and (max-width: 990px) {
  .info_parent {
    gap: 40px;
  }
  .info_parent .info_top {
    gap: 15px;
  }
  .info_parent .info_top h2 {
    font-size: 34px;
    font-weight: 660;
  }
  .info_parent .info_top p {
    font-size: 18px;
    font-weight: 400;
  }
  .info_parent .info_middle {
    gap: 60px;
  }
  .info_parent .info_middle h4 {
    font-size: 22px;
    margin: 24px 0 12px;
  }
  .info_parent .info_middle p {
    font-size: 16px;
    max-width: 220px;
  }
  .info_parent .info_bottom {
    gap: 150px;
  }
  .info_parent .info_bottom .info_box {
    gap: 12px;
  }
  .info_parent .info_bottom span {
    font-size: 34px;
  }
  .info_parent .info_bottom p {
    font-size: 16px;
  }
}
@media screen and (max-width: 690px) {
  .info_parent {
    gap: 40px;
  }
  .info_parent .info_top {
    gap: 15px;
  }
  .info_parent .info_top h2 {
    font-size: 34px;
    font-weight: 660;
  }
  .info_parent .info_top p {
    font-size: 18px;
    max-width: 380px;
  }
  .info_parent .info_middle {
    gap: 60px;
  }
  .info_parent .info_middle h4 {
    font-size: 22px;
    margin: 24px 0 12px;
  }
  .info_parent .info_middle p {
    font-size: 16px;
    max-width: 220px;
  }
  .info_parent .info_bottom {
    gap: 80px;
  }
  .info_parent .info_bottom .info_box {
    gap: 12px;
  }
  .info_parent .info_bottom span {
    color: #000;
    font-size: 34px;
  }
  .info_parent .info_bottom p {
    font-size: 16px;
  }
}
@media screen and (max-width: 435px) {
  .info_parent {
    gap: 40px;
  }
  .info_parent .info_top {
    gap: 15px;
  }
  .info_parent .info_top h2 {
    font-size: 34px;
    font-weight: 660;
  }
  .info_parent .info_top p {
    font-size: 18px;
  }
  .info_parent .info_middle {
    gap: 30px;
  }
  .info_parent .info_middle h4 {
    font-size: 22px;
    margin: 24px 0 12px;
  }
  .info_parent .info_middle p {
    font-size: 16px;
    max-width: 220px;
  }
  .info_parent .info_bottom {
    gap: 30px;
  }
  .info_parent .info_bottom .info_box {
    gap: 12px;
  }
}
.omadbek-1 {
  margin-top: 170px;
}

.omadbek-1--title {
  color: #151414;
  text-align: center;
  font-size: 54px;
  font-weight: 770;
  margin-bottom: 15px;
}

.omadbek-1--text {
  color: #3b433e;
  text-align: center;
  font-size: 24px;
  font-weight: 750;
  margin-bottom: 60px;
}

.omadbek-1__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.omadbek-1__cards__card {
  width: 356px;
  border-radius: 20px;
  border: 1px solid #ebebeb;
  background: #fff;
  padding: 50px 31px 51px 31px;
}

.omadek-1__cards__card--img {
  margin: auto;
  display: block;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.omadbek-1__cards__card--title {
  color: var(--black, #181d19);
  text-align: center;
  font-size: 30px;
  font-weight: 770;
  margin-top: 27px;
  margin-bottom: 20px;
}

.omadbek-1__cards__card--text {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: rgb(173, 159, 159);
}

.omadbek-1--btn {
  color: var(--white, #fff);
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding: 16px;
  border-radius: 50px;
  background: var(--green-gradient, linear-gradient(180deg, #64bb47 0%, #2c9553 100%));
  margin: auto;
  width: 210px;
  display: block;
  cursor: pointer;
}
.omadbek-1--btn:hover {
  background: #fff;
  border: 1px solid #64bb47;
  color: #64bb47;
}

@media screen and (max-width: 1150px) {
  .omadbek-1--title {
    font-size: 34px;
  }
  .omadbek-1--text {
    font-size: 18px;
  }
  .omadbek-1__cards__card {
    width: 300px;
    padding: 40px 20px 40px 20px;
  }
  .omadek-1__cards__card--img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .omadbek-1__cards__card--title {
    font-size: 26px;
  }
  .omadbek-1__cards__card--text {
    font-size: 14px;
  }
}
@media screen and (max-width: 990px) {
  .omadbek-1__cards {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}
@media screen and (max-width: 690px) {
  .omadbek-1__cards {
    flex-direction: column;
  }
  .omadbek-1--title {
    font-size: 35px;
  }
  .omadbek-1__cards__card--text {
    font-size: 14px;
  }
  .omadbek-1__cards__card {
    width: 356px;
    border-radius: 20px;
    border: 1px solid #ebebeb;
    background: #fff;
    padding: 50px 31px 51px 31px;
  }
  .omadek-1__cards__card--img {
    margin: auto;
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  .omadbek-1--btn {
    color: var(--white, #fff);
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding: 10px;
    border-radius: 50px;
    background: var(--green-gradient, linear-gradient(180deg, #64bb47 0%, #2c9553 100%));
    margin: auto;
    width: 150px;
    display: block;
    cursor: pointer;
  }
  .omadbek-1--btn:hover {
    background: #fff;
    border: 1px solid #64bb47;
    color: #64bb47;
  }
}
@media screen and (max-width: 435px) {
  .omadek-1__cards__card--img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .omadbek-1__cards__card {
    width: 280px;
    padding: 30px 15px 30px 15px;
  }
  .omadbek-1__cards__card--title {
    font-size: 18px;
  }
  .omadbek-1__cards__card--text {
    font-size: 12px;
  }
  .omadbek-1--btn {
    width: 180px;
    font-size: 16px;
  }
  .omadbek-1--title {
    font-size: 30px;
    font-weight: bolder;
  }
  .omadbek-1--text {
    font-size: 12px;
  }
}
.omadbek-2 {
  padding: 70px 0;
  margin-top: 120px;
  background: #fcfcfc;
}

.omadbek-2--title {
  color: #151414;
  text-align: center;
  font-size: 54px;
  font-weight: 770;
  margin-bottom: 47px;
}

.omadbek-2__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 50px;
}

.omadbek-2__cards__card {
  width: 514px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  padding: 40px 22px 54px 25px;
}

.omadbek-2__cards__card__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.omadbek-2__cards__card__top__left {
  display: flex;
  align-items: center;
  gap: 37px;
}

.omadbek-2__cards__card__top__left--img {
  width: 91px;
  height: 91px;
  object-fit: cover;
}

.omadbek-2__cards__card__top__left__info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.omadbek-2__cards__card__top__left__info--title {
  color: var(--333333, #333);
  font-size: 20px;
  font-weight: 770;
}

.omadbek-2__cards__card__top__left__info--text {
  color: #888a9a;
  font-size: 14px;
  font-weight: 760;
}

.omadbek-2__cards__card__top__right {
  width: 86px;
  height: 70px;
  object-fit: cover;
}

.omadbek-2__cards__card--text {
  color: var(--black, #181d19);
  font-size: 16px;
  font-weight: 700;
  max-width: 456px;
}

.omadbek-2--img {
  width: 110px;
  display: block;
  height: 24.5px;
  margin: auto;
}

@media screen and (max-width: 1150px) {
  .omadbek-2 {
    padding: 60px 0;
    margin-top: 80px;
  }
  .omadbek-2--title {
    font-size: 48px;
  }
  .omadbek-2__cards {
    gap: 20px;
  }
  .omadbek-2__cards__card {
    width: 420px;
  }
  .omadbek-2__cards__card__top__left {
    gap: 30px;
  }
  .omadbek-2__cards__card__top__left--img {
    width: 81px;
    height: 81px;
    object-fit: cover;
  }
  .omadbek-2__cards__card__top__left__info--title {
    font-size: 18px;
    font-weight: 700;
  }
  .omadbek-2__cards__card__top__left__info--text {
    font-size: 12px;
    font-weight: 700;
  }
  .omadbek-2__cards__card__top__right {
    width: 76px;
    height: 60px;
    object-fit: cover;
  }
  .omadbek-2__cards__card--text {
    font-size: 13px;
    font-weight: 600;
    max-width: 350px;
  }
}
@media screen and (max-width: 990px) {
  .omadbek-2 {
    padding: 30px 0;
    margin-top: 40px;
    background: #fcfcfc;
  }
  .omadbek-2--title {
    font-size: 34px;
    font-weight: 770;
    margin-bottom: 40px;
  }
  .omadbek-2__cards {
    gap: 30px;
    flex-direction: column;
  }
  .omadbek-2__cards__card {
    width: 514px;
    padding: 40px 22px 54px 25px;
  }
  .omadbek-2__cards__card__top__left {
    gap: 37px;
  }
  .omadbek-2__cards__card__top__left--img {
    width: 91px;
    height: 91px;
    object-fit: cover;
  }
  .omadbek-2__cards__card__top__left__info {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .omadbek-2__cards__card__top__left__info--title {
    font-size: 20px;
    font-weight: 770;
  }
  .omadbek-2__cards__card__top__left__info--text {
    color: #888a9a;
    font-size: 14px;
    font-weight: 760;
  }
  .omadbek-2__cards__card__top__right {
    width: 86px;
    height: 70px;
    object-fit: cover;
  }
  .omadbek-2__cards__card--text {
    font-size: 16px;
    font-weight: 700;
    max-width: 456px;
  }
}
@media screen and (max-width: 690px) {
  .omadbek-2--title {
    font-size: 35px;
  }
  .omadbek-2__cards {
    gap: 30px;
  }
  .omadbek-2__cards__card {
    width: 350px;
  }
  .omadbek-2__cards__card__top__left {
    gap: 30px;
  }
  .omadbek-2__cards__card__top__left--img {
    width: 71px;
    height: 71px;
    object-fit: cover;
  }
  .omadbek-2__cards__card__top__left__info--title {
    font-size: 14px;
    font-weight: 700;
  }
  .omadbek-2__cards__card__top__left__info--text {
    font-size: 11px;
    font-weight: 700;
  }
  .omadbek-2__cards__card__top__right {
    width: 66px;
    height: 50px;
    object-fit: cover;
  }
  .omadbek-2__cards__card--text {
    font-size: 11px;
    font-weight: 600;
    max-width: 340px;
  }
  .omadbek-2--img {
    width: 90px;
    display: block;
    height: 24.5px;
    margin: auto;
  }
}
@media screen and (max-width: 435px) {
  .omadbek-2--title {
    font-size: 30px;
  }
  .omadbek-2__cards {
    gap: 30px;
  }
  .omadbek-2__cards__card {
    width: 280px;
    padding: 30px 15px 40px 20px;
  }
  .omadbek-2__cards__card__top__left {
    gap: 12px;
  }
  .omadbek-2__cards__card__top__left--img {
    width: 61px;
    height: 61px;
    object-fit: cover;
  }
  .omadbek-2__cards__card__top__left__info--title {
    font-size: 13px;
    font-weight: 700;
  }
  .omadbek-2__cards__card__top__left__info--text {
    font-size: 9px;
    font-weight: 700;
  }
  .omadbek-2__cards__card__top__right {
    width: 56px;
    height: 45px;
    object-fit: cover;
  }
  .omadbek-2__cards__card--text {
    font-size: 11px;
    font-weight: 700;
    max-width: 280px;
    line-height: 12px;
  }
  .omadbek-2--img {
    width: 80px;
    display: block;
    height: 24.5px;
    margin: auto;
  }
}
.omadbek-3 {
  padding-top: 120px;
  padding-bottom: 150px;
}

.omadbek-3__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.omadbek-3--title {
  color: #151414;
  text-align: center;
  font-size: 36px;
  font-weight: 770;
  margin-bottom: 15px;
}

.omadbek-3--text {
  color: #3b433e;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 60px;
}

.omadbek-3__inputs {
  display: flex;
  gap: 15px;
}

.omadbek-3__inputs--input {
  max-width: 330px;
  padding: 19px 186px 19px 20px;
  border-radius: 165px;
  border: 1.5px solid #f5f5f5;
  background: #fff;
  color: #8a8a8a;
  font-size: 15px;
  font-weight: 500;
}

.omadbek-3__inputs--btn {
  padding: 17px 32px;
  border-radius: 50px;
  background: var(--green-gradient, linear-gradient(180deg, #64bb47 0%, #2c9553 100%));
  color: var(--white, #fff);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.omadbek-3__inputs--btn:hover {
  background: #fff;
  border: 1px solid #64bb47;
  color: #64bb47;
}

@media screen and (max-width: 1150px) {
  .omadbek-3 {
    padding-top: 100px;
    padding-bottom: 130px;
  }
}
@media screen and (max-width: 990px) {
  .omadbek-3 {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .omadbek-3--title {
    font-size: 34px;
  }
  .omadbek-3--text {
    font-size: 20px;
  }
  .omadbek-3__inputs {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
@media screen and (max-width: 550px) {
  .omadbek-3 {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .omadbek-3--title {
    font-size: 30px;
    font-weight: 600;
  }
  .omadbek-3--text {
    font-size: 16px;
  }
  .omadbek-3__inputs--input {
    max-width: 250px;
    padding: 17px 130px 17px 15px;
    font-size: 13px;
  }
  .omadbek-3__inputs--btn {
    padding: 17px 22px;
    font-size: 12px;
    width: 180px;
  }
}
.omadbek-4 {
  margin-top: 150px;
  background: #fcfcfc;
}

.omadbek-4__navigition {
  padding: 114px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.omadbek-4__navigition_left {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.omadbek-4__navigition__left__item {
  color: var(--Style, #2c3847);
  font-size: 26px;
  font-weight: 770;
}

.omadbek-4__navigition__left__item--items {
  color: var(--Style, #2c3847);
  font-size: 26px;
  font-weight: 770;
}

.omadbek-4__navigition__left--text {
  color: var(--657582, #657582);
  max-width: 262px;
  font-size: 16px;
  font-weight: 760;
}

.omadbek-4__navigition_right {
  display: flex;
  align-items: center;
  gap: 139px;
  justify-content: space-between;
}

.omadbek-4__navigition_rigth_items {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.omadbek-4__navigition_right_items--item {
  color: var(--657582, #657582);
  font-size: 16px;
  font-weight: 760;
}

.home {
  color: var(--Style, #2c3847);
  font-size: 22px;
  font-weight: 770;
  margin-bottom: 20px;
}

.omadbek-4--text {
  text-align: center;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 760;
  padding: 20px 0;
  background: var(--green-gradient, linear-gradient(180deg, #64bb47 0%, #2c9553 100%));
}

@media screen and (max-width: 1150px) {
  .omadbek-4 {
    margin-top: 0;
  }
  .omadbek-4__navigition {
    padding: 80px 0;
    margin: 0;
  }
}
@media screen and (max-width: 990px) {
  .omadbek-4__navigition_left {
    gap: 10px;
  }
  .omadbek-4__navigition_right {
    display: flex;
    align-items: center;
    gap: 139px;
    justify-content: space-between;
  }
  .omadbek-4__navigition_rigth_items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .omadbek-4__navigition_right_items--item {
    color: var(--657582, #657582);
    font-size: 10px;
    font-weight: 760;
  }
  .home {
    color: var(--Style, #2c3847);
    font-size: 15px;
    font-weight: 770;
    margin-bottom: 10px;
  }
  .omadbek-4__navigition__left__item--items {
    color: var(--Style, #2c3847);
    font-size: 15px;
    font-weight: 770;
  }
  .omadbek-4__navigition__left--text {
    color: var(--657582, #657582);
    max-width: 262px;
    font-size: 12px;
    font-weight: 760;
  }
}
@media screen and (max-width: 690px) {
  .omadbek-4__navigition_right {
    justify-content: space-between;
    gap: 20px;
  }
  .omadbek-4--text {
    font-size: 11px;
  }
  .omadbek-4__navigition_rigth_items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .omadbek-4__navigition_right_items--item {
    font-size: 9px;
  }
}

/*# sourceMappingURL=main.css.map */
