@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Inter:wght@400;500;600;700;800;900&family=Karla:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&family=Mulish:wght@700&family=Philosopher:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Roboto:wght@400;500;700;900&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Sofia+Sans+Extra+Condensed:wght@400;500;600;700&family=Tilt+Prism&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
}
a,li,ul,input,button{
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.container{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}