.nav_container{
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
   
}
.nav_parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    ul{
        display: flex;
        gap: 40px;
        .navbar__link{
            color: #2C3847;
            font-size: 20px;
            font-weight: 400;
            transition: .3s linear;
            &:hover{
                color: #5FB848;

            }
        }
    }
    .nav_right{
        display: flex;
        gap: 30px;
        align-items: center;
        i{
            font-size: 25px;
        }
        button{
            color: var(--white, #FFF);
            font-size: 20px;
            font-weight: 400;
            border-radius: 27px;
            background: #494949;
            padding: 14px 29px;
            border: 2px solid #2C3847;
            transition: .3s linear;
            &:hover{
                background: none;
                color: #2C3847;
            }
        }
    }
    .menu{
        display: none;
        i{
            font-size: 30px;
        }
    }
    
}

@media screen and (max-width: 1150px) {

}
@media screen and (max-width: 990px){
    .nav_parent{
        ul{
            display: none;
           
        }
        .nav_right{
            display: none;
        }
        .menu{
            display: block;
        }
        
    }
    
}
@media screen and (max-width: 690px) {
}
@media screen and (max-width: 435px) {
}