.info_parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    .info_top{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        h2{
            color: #151414;
            text-align: center;
            font-size: 54px;
            font-weight: 770;
        }
        p{
            color: #3B433E;
            text-align: center;
            font-size: 24px;
            font-weight: 400;
        }
    }
    .info_middle{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 100px;
        .info_card{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h4{
            color: var(--black, #181D19);
            font-size: 28px;
            font-weight: 600;
            margin: 36px 0 18px;
        }
        p{
            color: #545454;
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            max-width: 270px;
        }
    }
    
    .info_bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 150px;
        .info_box{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

        }
        span{
            color: #000;
            font-size: 44px;
            font-weight: 780;
        }
        p{
            color: #545454;
            font-size: 20px;
            font-weight: 400;
        }
    }
}
@media screen and (max-width: 990px){
    .info_parent{
        gap: 40px;
        .info_top{
            gap: 15px;
            h2{
                font-size: 34px;
                font-weight: 660;
            }
            p{
                font-size: 18px;
                font-weight: 400;
            }
        }
        .info_middle{
            gap: 60px;
            h4{
                font-size: 22px;
                margin: 24px 0 12px;
            }
            p{
                font-size: 16px;
                max-width: 220px;
            }
        }
        
        .info_bottom{
            gap: 150px;
            .info_box{
                gap: 12px;
    
            }
            span{
                font-size: 34px;
            }
            p{
                font-size: 16px;
            }
        }
    }
    
}
@media screen and (max-width: 690px) {
    .info_parent{
        gap: 40px;
        .info_top{
            gap: 15px;
            h2{
                font-size: 34px;
                font-weight: 660;
            }
            p{
                font-size: 18px;
                max-width: 380px;
            }
        }
        .info_middle{
            gap: 60px;
            h4{
                font-size: 22px;
                margin: 24px 0 12px;
            }
            p{
                font-size: 16px;
                max-width: 220px;
            }
        }
        
        .info_bottom{
            gap: 80px;
            .info_box{
                gap: 12px;
    
            }
            span{
                color: #000;
                font-size: 34px;
            }
            p{
                font-size: 16px;
            }
        }
    }
}
@media screen and (max-width: 435px) {
    .info_parent{
        gap: 40px;
        .info_top{
            gap: 15px;
            h2{
                font-size: 34px;
                font-weight: 660;
            }
            p{
                font-size: 18px;
            }
        }
        .info_middle{
            gap: 30px;
            h4{
                font-size: 22px;
                margin: 24px 0 12px;
            }
            p{
                font-size: 16px;
                max-width: 220px;
            }
        }
        
        .info_bottom{
            gap: 30px;
            .info_box{
                gap: 12px;
    
            }
           
        }
    }
}