.hero_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    .header_info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h1{
            color: var(--black, #181D19);
            font-size: 65px;
            font-weight: 600;
            max-width: 590px;
        }
        span{
            color: #5FB848;
        }
        p{
            color: var(--black, #181D19);
            font-size: 24px;
            font-weight: 300;
            line-height: 34px; 
            max-width: 500px;
            padding: 30px 0 50px;
        }
        button{
            color: var(--white, #FFF);
            font-size: 24px;
            font-weight: 400;
            border-radius: 50px;
            background: var(--green-gradient, linear-gradient(180deg, #64BB47 0%, #2C9553 100%));
            padding: 16px 40px;
            border: 2px solid #5FB848;
            transition: .3s linear;
            &:hover{
                background: none;
                color: #5FB848;
                
            }
        }
    }
    .header_img{
        img{
            width: 650px;
        }
    }
}

@media screen and (max-width: 1150px) {
    .hero_header{
        padding: 50px 0;
        .header_info{
            h1{
                font-size: 55px;
                font-weight: 600;
                max-width: 590px;
            }
            p{
                font-size: 24px;
                max-width: 400px;
                padding: 30px 0 50px;
            }
            button{
                font-size: 24px;
                font-weight: 400;
                padding: 16px 40px;
            }
        }
        .header_img{
            img{
                width: 580px;
            }
        }
    }
}
@media screen and (max-width: 990px){
  .hero_header{
        flex-direction: column-reverse;
        align-items: center;
        padding: 50px 0;
        .header_info{
            align-items: center;
            h1{
                font-size: 55px;
                font-weight: 650;
                max-width: 590px;
                text-align: center;
            }
            p{
                font-size: 24px;
                max-width: 400px;
                padding: 30px 0 50px;
                text-align: center;
            }
            button{
                font-size: 24px;
                font-weight: 400;
                padding: 16px 40px;
            }
        }
        .header_img{
            img{
                width: 580px;
            }
        }
    }
    
}
@media screen and (max-width: 690px) {
    .hero_header{
        padding: 40px 0;
        .header_info{
            h1{
                font-size: 45px;
                max-width: 440px;
                text-align: center;
            }
            p{
                font-size: 20px;
                font-weight: 300;
                max-width: 400px;
                padding: 20px 0 30px;
                text-align: center;
            }
            button{
                font-size: 24px;
                font-weight: 400;
                padding: 12px 36px;
            }
        }
        .header_img{
            img{
                width: 400px;
            }
        }
    }
}
@media screen and (max-width: 435px) {
    .hero_header{
        padding: 30px 0;
        .header_info{
            h1{
                font-size: 36px;
                max-width: 330px;
            }
            p{
                font-size: 18px;
                max-width: 330px;
                padding: 20px 0px;
            }
            button{
                font-size: 20px;
                font-weight: 400;
                padding: 8px 36px;
                &:hover{
                    background: none;
                    color: #5FB848;
                    
                }
            }
        }
        .header_img{
            img{
                width: 330px;
            }
        }
    }
}