.omadbek-4 {
  margin-top: 150px;
  background: #fcfcfc;
}
.omadbek-4__navigition {
  padding: 114px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
justify-content: space-between;
}
.omadbek-4__navigition_left {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.omadbek-4__navigition__left__item {
  color: var(--Style, #2c3847);
  font-size: 26px;
  font-weight: 770;
}
.omadbek-4__navigition__left__item--items {
  color: var(--Style, #2c3847);
  font-size: 26px;
  font-weight: 770;
}
.omadbek-4__navigition__left--text {
  color: var(--657582, #657582);
  max-width: 262px;
  font-size: 16px;
  font-weight: 760;
}
.omadbek-4__navigition_right {
  display: flex;
  align-items: center;
  gap: 139px;
  justify-content: space-between;
}
.omadbek-4__navigition_rigth_items {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.omadbek-4__navigition_right_items--item {
  color: var(--657582, #657582);
  font-size: 16px;
  font-weight: 760;
}
.home {
  color: var(--Style, #2c3847);
  font-size: 22px;
  font-weight: 770;
  margin-bottom: 20px;
}
.omadbek-4--text {
  text-align: center;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 760;
  padding: 20px 0;
  background: var(--green-gradient, linear-gradient(180deg, #64bb47 0%, #2c9553 100%));
}
@media screen and (max-width: 1150px) {
.omadbek-4{
    margin-top: 0;
}
 .omadbek-4__navigition{
    padding: 80px 0;
    margin: 0;
 }
}
@media screen and (max-width: 990px){
    // .omadbek-4__navigition_right{
    //  flex-wrap:wrap ;   
    //  gap: 30px;
    // }
    .omadbek-4__navigition_left{
        gap: 10px;
    }
    .omadbek-4__navigition_right {
        display: flex;
        align-items: center;
        gap: 139px;
        justify-content: space-between;
      }
      .omadbek-4__navigition_rigth_items {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .omadbek-4__navigition_right_items--item {
        color: var(--657582, #657582);
        font-size: 10px;
        font-weight: 760;
      }
      .home {
        color: var(--Style, #2c3847);
        font-size: 15px;
        font-weight: 770;
        margin-bottom: 10px;
      }

      .omadbek-4__navigition__left__item--items {
        color: var(--Style, #2c3847);
        font-size: 15px;
        font-weight: 770;
      }
      .omadbek-4__navigition__left--text {
        color: var(--657582, #657582);
        max-width: 262px;
        font-size: 12px;
        font-weight: 760;
      }
}
@media screen and (max-width: 690px) {
    .omadbek-4__navigition_right {
      
        justify-content: space-between;
        gap: 20px;
    }
    .omadbek-4--text{
        font-size: 11px;
    }
    .omadbek-4__navigition_rigth_items {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .omadbek-4__navigition_right_items--item {
        font-size: 9px;
      }
}

