.omadbek-3 {
  padding-top: 120px;
  padding-bottom: 150px;
}
.omadbek-3__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.omadbek-3--title {
  color: #151414;
  text-align: center;
  font-size: 36px;
  font-weight: 770;
  margin-bottom: 15px;
}
.omadbek-3--text {
  color: #3b433e;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 60px;
}
.omadbek-3__inputs {
  display: flex;
  gap: 15px;
}
.omadbek-3__inputs--input {
  max-width: 330px;
  padding: 19px 186px 19px 20px;
  border-radius: 165px;
  border: 1.5px solid #f5f5f5;
  background: #fff;
  color: #8a8a8a;
  font-size: 15px;
  font-weight: 500;
}
.omadbek-3__inputs--btn {
  padding: 17px 32px;
  border-radius: 50px;
  background: var(--green-gradient, linear-gradient(180deg, #64bb47 0%, #2c9553 100%));
  color: var(--white, #fff);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  &:hover{
    background: #fff;
    border: 1px solid  #64bb47 ;
    color: #64bb47;
  }
}
@media screen and (max-width: 1150px) { 
.omadbek-3 {
    padding-top: 100px;
    padding-bottom: 130px;
  }

}

@media screen and (max-width: 990px){
    .omadbek-3 {
        padding-top: 60px;
        padding-bottom: 80px;
      }
      .omadbek-3--title {
        font-size: 34px;
      }
      .omadbek-3--text{
        font-size: 20px;
      }
      .omadbek-3__inputs {
        flex-direction: column;
        align-items: center;
        gap: 15px;
      }
}
@media screen and (max-width: 550px) {
    .omadbek-3 {
        padding-top: 40px;
        padding-bottom: 60px;
      }
      .omadbek-3--title {
        font-size: 30px;
        font-weight: 600;
      }
      .omadbek-3--text{
        font-size: 16px;
      }
      .omadbek-3__inputs--input {
        max-width: 250px;
        padding: 17px 130px 17px 15px;
        font-size: 13px;
      }
      .omadbek-3__inputs--btn {
        padding: 17px 22px;
        font-size: 12px;
        width: 180px;
     
      }
}
@media screen and (max-width: 435px) {
}