.omadbek-2 {
  padding: 70px 0;
  margin-top: 120px;
  background: #fcfcfc;
}
.omadbek-2--title {
  color: #151414;
  text-align: center;
  font-size: 54px;
  font-weight: 770;
  margin-bottom: 47px;
}
.omadbek-2__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 50px;
}
.omadbek-2__cards__card {
  width: 514px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  padding: 40px 22px 54px 25px;
}
.omadbek-2__cards__card__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.omadbek-2__cards__card__top__left {
  display: flex;
  align-items: center;
  gap: 37px;
}
.omadbek-2__cards__card__top__left--img {
  width: 91px;
  height: 91px;
  object-fit: cover;
}
.omadbek-2__cards__card__top__left__info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.omadbek-2__cards__card__top__left__info--title {
  color: var(--333333, #333);
  font-size: 20px;
  font-weight: 770;
}
.omadbek-2__cards__card__top__left__info--text {
  color: #888a9a;
  font-size: 14px;
  font-weight: 760;
}
.omadbek-2__cards__card__top__right {
  width: 86px;
  height: 70px;
  object-fit: cover;
}
.omadbek-2__cards__card--text {
  color: var(--black, #181d19);
  font-size: 16px;
  font-weight: 700;
  max-width: 456px;
}
.omadbek-2--img {
  width: 110px;
  display: block;
  height: 24.5px;
  margin: auto;
}
@media screen and (max-width: 1150px) {
  .omadbek-2 {
    padding: 60px 0;
    margin-top: 80px;
  }
  .omadbek-2--title {
    font-size: 48px;
  }
  .omadbek-2__cards {
    gap: 20px;
  }
  .omadbek-2__cards__card {
    width: 420px;
  }
  .omadbek-2__cards__card__top__left {
    gap: 30px;
  }
  .omadbek-2__cards__card__top__left--img {
    width: 81px;
    height: 81px;
    object-fit: cover;
  }
  .omadbek-2__cards__card__top__left__info--title {
    font-size: 18px;
    font-weight: 700;
  }
  .omadbek-2__cards__card__top__left__info--text {
    font-size: 12px;
    font-weight: 700;
  }
  .omadbek-2__cards__card__top__right {
    width: 76px;
    height: 60px;
    object-fit: cover;
  }
  .omadbek-2__cards__card--text {
    font-size: 13px;
    font-weight: 600;
    max-width: 350px;
  }
}
@media screen and (max-width: 990px) {
    .omadbek-2 {
        padding: 30px 0;
        margin-top: 40px;
        background: #fcfcfc;
      }
      .omadbek-2--title {
        font-size: 34px;
        font-weight: 770;
        margin-bottom: 40px;
      }
      .omadbek-2__cards {
        gap: 30px;
        flex-direction: column;
      }
      .omadbek-2__cards__card {
        width: 514px;
        padding: 40px 22px 54px 25px;
      }
      .omadbek-2__cards__card__top__left {
        gap: 37px;
      }
      .omadbek-2__cards__card__top__left--img {
        width: 91px;
        height: 91px;
        object-fit: cover;
      }
      .omadbek-2__cards__card__top__left__info {
        display: flex;
        flex-direction: column;
        gap: 3px;
      }
      .omadbek-2__cards__card__top__left__info--title {
        font-size: 20px;
        font-weight: 770;
      }
      .omadbek-2__cards__card__top__left__info--text {
        color: #888a9a;
        font-size: 14px;
        font-weight: 760;
      }
      .omadbek-2__cards__card__top__right {
        width: 86px;
        height: 70px;
        object-fit: cover;
      }
      .omadbek-2__cards__card--text {
        font-size: 16px;
        font-weight: 700;
        max-width: 456px;
      }
}
@media screen and (max-width: 690px) {
    .omadbek-2--title {
        font-size: 35px;
      }
      .omadbek-2__cards {
        gap: 30px;
      }
      .omadbek-2__cards__card {
        width: 350px;
      }
      .omadbek-2__cards__card__top__left {
        gap: 30px;
      }
      .omadbek-2__cards__card__top__left--img {
        width: 71px;
        height: 71px;
        object-fit: cover;
      }
      .omadbek-2__cards__card__top__left__info--title {
        font-size: 14px;
        font-weight: 700;
      }
      .omadbek-2__cards__card__top__left__info--text {
        font-size: 11px;
        font-weight: 700;
      }
      .omadbek-2__cards__card__top__right {
        width: 66px;
        height: 50px;
        object-fit: cover;
      }
      .omadbek-2__cards__card--text {
        font-size: 11px;
        font-weight: 600;
        max-width: 340px;
      }
      .omadbek-2--img {
        width: 90px;
        display: block;
        height: 24.5px;
        margin: auto;
      }
}
@media screen and (max-width: 435px) {
    .omadbek-2--title {
        font-size: 30px;
      }
      .omadbek-2__cards {
        gap: 30px;
      }
      .omadbek-2__cards__card {
        width: 280px;
        padding: 30px 15px 40px 20px;
      }
      .omadbek-2__cards__card__top__left {
        gap: 12px;
      }
      .omadbek-2__cards__card__top__left--img {
        width: 61px;
        height: 61px;
        object-fit: cover;
      }
      .omadbek-2__cards__card__top__left__info--title {
        font-size: 13px;
        font-weight: 700;
      }
      .omadbek-2__cards__card__top__left__info--text {
        font-size: 9px;
        font-weight: 700;
      }
      .omadbek-2__cards__card__top__right {
        width: 56px;
        height: 45px;
        object-fit: cover;
      }
      .omadbek-2__cards__card--text {
        font-size: 11px;
        font-weight: 700;
        max-width: 280px;
        line-height: 12px;
      }
      .omadbek-2--img {
        width: 80px;
        display: block;
        height: 24.5px;
        margin: auto;
      }
}
