.omadbek-1 {
  margin-top: 170px;
}
.omadbek-1--title {
  color: #151414;
  text-align: center;
  font-size: 54px;
  font-weight: 770;
  margin-bottom: 15px;
}
.omadbek-1--text {
  color: #3b433e;
  text-align: center;
  font-size: 24px;
  font-weight: 750;
  margin-bottom: 60px;
}
.omadbek-1__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.omadbek-1__cards__card {
  width: 356px;
  border-radius: 20px;
  border: 1px solid #ebebeb;
  background: #fff;
  padding: 50px 31px 51px 31px;
}
.omadek-1__cards__card--img {
  margin: auto;
  display: block;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.omadbek-1__cards__card--title {
  color: var(--black, #181d19);
  text-align: center;
  font-size: 30px;
  font-weight: 770;
  margin-top: 27px;
  margin-bottom: 20px;
}
.omadbek-1__cards__card--text {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: rgb(173, 159, 159);
}
.omadbek-1--btn {
  color: var(--white, #fff);
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding: 16px;
  border-radius: 50px;
  background: var(--green-gradient, linear-gradient(180deg, #64bb47 0%, #2c9553 100%));
  margin: auto;
  width: 210px;
  display: block;
  cursor: pointer;
  &:hover {
    background: #fff;
    border: 1px solid #64bb47;
    color: #64bb47;
  }
}
@media screen and (max-width: 1150px) {
  .omadbek-1--title {
    font-size: 34px;
  }
  .omadbek-1--text {
    font-size: 18px;
  }
  .omadbek-1__cards__card {
    width: 300px;
    padding: 40px 20px 40px 20px;
  }
  .omadek-1__cards__card--img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .omadbek-1__cards__card--title {
    font-size: 26px;
  }
  .omadbek-1__cards__card--text {
    font-size: 14px;
  }
}
@media screen and (max-width: 990px) {
  .omadbek-1__cards {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}
@media screen and (max-width: 690px) {
  .omadbek-1__cards {
    flex-direction: column;
  }
  .omadbek-1--title {
    font-size: 35px;
  }
  .omadbek-1__cards__card--text {
    font-size: 14px;
  }
  .omadbek-1__cards__card {
    width: 356px;
    border-radius: 20px;
    border: 1px solid #ebebeb;
    background: #fff;
    padding: 50px 31px 51px 31px;
  }
  .omadek-1__cards__card--img {
    margin: auto;
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  .omadbek-1--btn {
    color: var(--white, #fff);
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding: 10px;
    border-radius: 50px;
    background: var(--green-gradient, linear-gradient(180deg, #64bb47 0%, #2c9553 100%));
    margin: auto;
    width: 150px;
    display: block;
    cursor: pointer;
    &:hover {
      background: #fff;
      border: 1px solid #64bb47;
      color: #64bb47;
    }
  }
}
@media screen and (max-width: 435px){
      .omadek-1__cards__card--img {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
      .omadbek-1__cards__card {
        width: 280px;
        padding: 30px 15px 30px 15px;
      }
      .omadbek-1__cards__card--title {
        font-size: 18px;

      }
      .omadbek-1__cards__card--text {
        font-size: 12px;
      }
      .omadbek-1--btn {
        width: 180px;
        font-size: 16px;
      }
      .omadbek-1--title{
        font-size: 30px;
        font-weight: bolder;
      }
      .omadbek-1--text{
        font-size: 12px;
      }
}
